<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Exercise</h5>
          <p>
            <strong>ID</strong>: {{Exercise_template.id}}</p>
          <p>
          <p>
            <strong>Exercise Name</strong>: {{Exercise_template.exercise_name}}</p>
          <p>
          <p>
            <strong>Photo URL</strong>: {{Exercise_template.exer_img_url}}</p>
          <p>
          <p>
            <strong>Weight</strong>: {{Exercise_template.weight}}</p>
          <p>
          <p>
            <strong>Repetitions</strong>: {{Exercise_template.repetitions}}</p>
          <p>
            <strong>Sets:</strong> {{Exercise_template.sets}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
