<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          {{!-- <h5 class="card-title">Exercise</h5> --}}
          <p>
            <strong>ID</strong>: {{exercise.id}}</p>
          <p>
          <p>
            <strong>Exercise Name</strong>: {{exercise.exercise_name}}</p>
          <p>
          <p>
            <strong>Photo URL</strong>: {{exercise.exer_img_url}}</p>
          <p>
          <p>
            <strong>Weight</strong>: {{exercise.weight}}</p>
          <p>
          <p>
            <strong>Repetitions</strong>: {{exercise.repetitions}}</p>
          <p>
            <strong>Sets:</strong> {{exercise.sets}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
